body{
    margin: 0;
    padding: 0;
    background-color: rgb(214, 239, 253);
}
.nav{
    padding: 15px;
    text-align: right;
    box-sizing: border-box;
    background:linear-gradient(to right,rgb(28, 5, 78),rgb(38, 38, 201));
    width: 100%;
}

.nav .heading{
    float: left;
    color: white;
    font-size: 25px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}
.nav a:hover{
    background-color: darkblue;
}

div.home{
    background-image: url(b7.jpg);
    background-size: cover;
    height: 657px;
    text-align: center;
    margin: 0;
}

.home .content{
    display: inline-block;
    color: white;
    margin-top: 200px;
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content p{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}
.about{
    margin: 0px;
    border-bottom-width: 5px;
    border-bottom-style:dotted ;
    border-bottom-color: darkblue;
    height: 500px;
}

.about h1{
    color: rgb(5, 5, 170);
    padding-top: 20px;
    text-align: center;
}

.about img{
    box-shadow: 0 0 10px darkblue;
    margin-left: 150px;
    border-radius: 50%;
    float: left;
    width: 350px;
    height: 400px;
}
.about p{
    background-color: rgb(182, 218, 252);
    color: black;
    width: 500px;
    padding: 50px;
    border: 2px solid rgb(236, 236, 236);
    box-shadow: 5px 5px 10px darkblue;
    border-radius: 25px;
    float: right;
    text-align: center;
    margin-right: 100px;
    margin-top: 70px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.skills{
    margin: 0px;
    height: 600px;
    /* background-color: aliceblue; */
    
}

.skills h1{
    color: rgb(5, 5, 170);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

ul.l1{
    list-style: none;
    height: auto;
    width: 300px;
    border: 2px solid black;
    float: left;
    margin-left: 350px;
    padding-left: 0px;
    background-color: rgb(173, 218, 255);
    box-shadow: 5px 5px 10px rgb(122, 122, 156) ;
}

ul.l2{
    box-shadow: 5px 5px 10px rgb(122, 122, 156) ;
    list-style: none;
    height: auto;
    width: 300px;
    border: 2px solid black;
    float: right;
    background-color: rgb(173, 218,255);
    margin-right: 350px;
    padding-left: 0px;
}
ul.l1 li h3{
    font-weight: bolder;
    font-size: 25px;
}
ul.l1 li{
    border-bottom: 2px solid darkblue;
    box-shadow: 0 0 5px black;
    padding: 22px;  
    font-size: 20px; 
    text-align: center;
}
ul.l1 li:hover{
    background-color: rgb(69, 69, 250);
    color: white;
}

ul.l2 li h3{
    font-weight: bolder;
    font-size: 25px;
}
ul.l2 li{
    border-bottom: 2px solid darkblue;
    box-shadow: 0 0 5px black;
    padding: 22px;  
    font-size: 20px; 
    text-align: center;
}
ul.l2 li:hover{
    background-color: rgb(69, 69, 250);
    color: white;
}
.contact{
    color: white;
    padding: 10px;
    padding-bottom: 30px;
    border-top: 5px solid rgb(0, 137, 230);
    background-color: rgb(0, 137, 230);
    text-align: center;
}

.contact i{
    margin:auto 30px;
    transition: 250ms all linear;
}
.contact i:hover{
    transform: scale(1.2);


}

